venv/
.venv/
env/
ENV/

.env
.env.local
.env.production
*.key

__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

*.db
*.sqlite
*.sqlite3

.DS_Store          # Mac


.vscode/
.idea/
*.swp
*.swo

*.log
logs/

dist/
build/
*.egg-info/